.titles {
    text-align: center;
}

.avatar {
    align-items: center; /* for vertical align */
    background: red;
    display: flex;
    height: 250px;
    /* justify-content: center; <- for horizontal align */
    width: 250px;
    
}



