.titles {
    text-align: center;
    padding-top: 10rem;
}

.avatar {
    align-items: center; 
    display: flex;
    height: 250px;
    width: 250px;
}

.graphicImg {
    margin-bottom: 0rem;
    max-width: 850px;
}

.graphic {
    margin: 0 auto;
    position: relative;
    padding: 0rem 0rem;
    display: block;
    text-align: center;
    padding-top: 6rem;
}

.tables {
    margin-top: -1.625rem;
    background-color: #904AF6;
    color: white;
}



